---
import "../styles/RRGroup-estilos.css";
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Distribución estratégica en Paraguay - RR Group"
		/>
		<title>RRGroup</title>
		<link rel="icon" href="/Icono_RRGroup.ico" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="intro">
			<img id="intro-logo" src="/Logo_RRGroup.png" alt="Logo RRGroup" />
		</div>
		<header id="header">
			<div class="container">
				<img id="logo" src="/Logo_RRGroup.png" alt="Logotipo" />
				<div id="menu-toggle"><i class="fa-solid fa-bars"></i></div>
				<nav id="nav-links" aria-label="Menú principal">
					<a href="#hero">Inicio</a>
					<a href="#sobre_nosotros">Sobre Nosotros </a>
					<a href="#mision"> Misión</a>
					<a href="#vision"> Visión</a>
					<a href="#porque_elegirnos"> Porque Elegirnos</a>
					<a href="#marcas"> Marcas con las que trabajamos</a>
				</nav>
			</div>
		</header>
		<section id="hero">
			<h1>Conectamos marcas con el mercado Paraguayo</h1>
			<p>Distribución estratégica y confiable para cada negocio</p>
			<a href="#contactar" class="btn">Contactanos</a>
		</section>
		<section id="sobre_nosotros">
			<h2>Sobre nosotros</h2>
			<p>
				RR GROUP E.A.S fue formado con una visión preponderante hacia el
				mercado paraguayo. Buscamos innovarlo continuamente con una
				eficaz incorporación de productos altamente rentables. Apuntamos
				a ser distribuidor oficial de empresas destinadas a la venta
				directa al público final. Nuestra modalidad se basa, en crear un
				vínculo confiable y profesional con nuestros clientes; logrando
				así; una experiencia apta, rentable y duradera en cada negocio,
				coordinando en cada operación los puntos más importantes de la
				logística comercial.
			</p>
		</section>
		<section id="mision">
			<h2>Mision</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi
				voluptate incidunt iste optio maxime nobis ex voluptatem, quae
				ipsum ea et alias, repellat, autem saepe inventore eligendi
				laborum iure explicabo.
			</p>
		</section>
		<section id="vision">
			<h2>Vision</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
				nobis quas distinctio ratione nesciunt doloribus quasi id illo
				delectus praesentium est nemo harum, veritatis sequi dolores
				nam, esse ut recusandae.
			</p>
		</section>
		<section id="porque_elegirnos">
			<h2>Porque elegirnos</h2>
			<ul>
				<li>
					Neque porro quisquam est qui dolorem ipsum quia dolor sit
					amet, consectetur, adipisci velit...
				</li>
				<li>
					Neque porro quisquam est qui dolorem ipsum quia dolor sit
					amet, consectetur, adipisci velit...
				</li>
				<li>
					Neque porro quisquam est qui dolorem ipsum quia dolor sit
					amet, consectetur, adipisci velit...
				</li>
				<li>
					Neque porro quisquam est qui dolorem ipsum quia dolor sit
					amet, consectetur, adipisci velit...
				</li>
			</ul>
		</section>
		<section id="marcas">
			<h2>Marcas con las que trabajamos</h2>
			<div id="marca-track">
				<a href="https://thonet-vander.com" target="_blank">
					<img src="/Logo_Thonet_Vander.webp" alt="Thonet Vander" />
				</a>
				<a href="https://devia.com.py" target="_blank">
					<img src="/Logo_Devia.webp" alt="Devia" />
				</a>
				<a href="https://robotloona.com.py" target="_blank">
					<img src="/Logo_Robot_Loona.avif" alt="RobotLoona" />
				</a>
				<a href="https://www.facebook.com/ecovers.py/" target="_blank">
					<img src="/Logo_Ecovers.jpg" alt="Ecovers" />
				</a>
			</div>
		</section>
		<section id="contactar">
			<div id="datos">
				<h2>Contactos</h2>
				<p>
					<i class="fa-solid fa-location-dot"></i> Ubicación: Asunción,
					Paraguay
				</p>
				<p>
					<i class="fa-solid fa-phone"></i> Teléfono: +595 983 123456
				</p>
				<p>
					<i class="fa-solid fa-envelope"></i> Email: contacto@gmail.com
				</p>
			</div>
			<div id="contactanos">
				<h2>Contáctanos</h2>
				<form action="#" method="post">
					<label for="nombre">Nombre completo:</label>
					<input type="text" id="nombre" name="nombre" required />
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" required />
					<label for="telefono">Teléfono:</label>
					<input type="tel" id="telefono" name="telefono" required />
					<label for="mensaje">Mensaje:</label>
					<textarea id="mensaje" name="mensaje" required></textarea>
					<button type="submit">Enviar</button>
				</form>
			</div>
		</section>
		<footer id="contacto">
			<div class="container" id="footer-container">
				<div id="footer-col-1">
					<img src="/Logo_RRGroup.png" alt="Logo" id="footer-logo" />
					<p>
						Conectamos marcas con el mercado paraguayo mediante
						distribución estratégica y confiable.
					</p>
				</div>
				<div id="footer-col-2">
					<h3>Enlaces</h3>
					<a href="#hero">Inicio</a>
					<a href="#sobre_nosotros">Sobre Nosotros</a>
					<a href="#mision">Misión</a>
					<a href="#vision">Visión</a>
					<a href="#porque_elegirnos">Porque elegirnos</a>
					<a href="#marcas">Marcas con las que trabajamos</a>
					<a href="#contactar">Contactar</a>
				</div>
				<div id="footer-col-3">
					<h3>Contacto</h3>
					<p>
						<i class="fa-solid fa-location-dot"></i>
						Asunción, Paraguay
					</p>
					<p>
						<i class="fa-solid fa-phone"></i> +595 983 123456
					</p>
					<p>
						<i class="fa-solid fa-envelope"></i> contacto@gmail.com
					</p>
				</div>
				<div id="footer-col-4">
					<h3>Seguinos</h3>
					<div class="social-icons">
						<a href="https://www.facebook.com" target="_blank">
							<i class="fa-brands fa-facebook"></i>
						</a>
						<a href="https://www.instagram.com" target="_blank">
							<i class="fa-brands fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			<div id="footer-bottom">
				<div id="footer-bottom-text">
					<p>&copy; 2026 RRGroup - Todos los derechos reservados</p>
				</div>
			</div>
			<script src="../scripts/RRGroup-scripts.js"></script>
		</footer>
	</body>
</html>
